body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f8f9fa; /* Light background */
}

.content-wrapper {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
